body {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  background: url(../backgrounds/background-login.png);
  background-size: cover;
  background-attachment: fixed;
}
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.12rem;
}
.logo {
  width: 11.25rem;
  height: 9.37rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.icon-nav {
  width: 5rem;
  font-size: 1.87rem;
  text-align: center;
  color: deepskyblue;
}

.container {
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  max-width: 100%;
  position: relative;
  top: 16.12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: deeppink;
  font-size: 2.5rem;
}

form input[type="text"],
form input[type="password"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-size: 1.12rem;
  text-align: center;
  max-width: 100%;
  padding: 5px;
  border: none;
}

form input[type="submit"] {
  background-color: transparent;
  color: deeppink;
  font-size: 1.12rem;
  text-align: center;
  border: none;
  margin: 5px 180px;
  padding: 20px;
  border: 2px solid deepskyblue;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 deepskyblue;
}

.input-cont {
  margin-bottom: 15px;
  border: 2px solid deepskyblue;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 deepskyblue;
}

.icon {
  min-width: 1.87em;
  text-align: center;
  color: deepskyblue;
}

span {
  display: flex;
  justify-content: left;
  margin-top: 20.5px;
  padding: 5px;
  font-size: 1.37rem;
  font-weight: 600;
  font-family: "Monomaniac One", sans-serif;
  color: deeppink;
  box-shadow: 0 10px 20px 0 deeppink;
}

.link {
  margin-top: 24px;
  border: 2px solid deeppink;
  box-shadow: 0 10px 20px 0 deepskyblue;
  text-decoration: none;
  font-size: 1.37rem;
  font-weight: bold;
  color: deepskyblue;
}

.info-btn {
  font-size: 1.12rem;
  text-align: center;
  color: #fff;
  margin: 0 40px;
}

/* Animaciones  */

form input[type="submit"]:hover {
  background: #fff;
}

.link:hover {
  background: #fff;
}

.icon-nav:hover {
  background: deeppink;
}

/* Responsive  */

/* 1200px */
@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form {
    max-width: 70%;
    position: relative;
    top: 16.12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: deeppink;
    font-size: 2.5rem;
  }
}

/* 576px */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form {
    max-width: 55%;
    top: 9.37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: deeppink;
    font-size: 2.5rem;
  }
}

/* desde 320px hasta 575px */
@media (min-width: 320px) and (max-width: 575px) {
  .logo {
    width: 9.37rem;
    height: 7.5rem;
  }
  .container {
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form {
    max-width: 70%;
    top: 9.37rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: deeppink;
    font-size: 2.5rem;
  }
  span {
    display: flex;
    justify-content: left;
    margin-top: 14.5px;
    padding: 0 65px;
    font-size: 1.12rem;
    font-weight: 600;
    font-family: "Monomaniac One", sans-serif;
    color: deeppink;
    box-shadow: 0 10px 20px 0 deeppink;
  }
}
